body {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1ca4ce 0%, #367e88 100%);
    height: 100vh;
}

.titulo h1 {
    margin-top: 1px;
    justify-content: center;
    display: flex;
    color: white;
    font-family: 'Inknut Antiqua';
    font-size: 7vh;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

#eu {
    display: flex;
    justify-content: center;
}


.descricao {
    color: white;
    font-family: sans-serif;
    font-size: 2vh;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.flecha {
    padding-top: 2vh;
    margin-left: 2vw;
    font-size: 4vh;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.flecha:hover {
    transform: translateX(-9px);
}


.bolha {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    animation: subir 10s linear infinite;
    z-index: -1;
}

.bolha:nth-child(1) {
    left: 10%;
    animation-delay: 0s;
    width: 30px;
    height: 30px;
}

.bolha:nth-child(2) {
    left: 25%;
    animation-delay: 2s;
    width: 50px;
    height: 50px;
}

.bolha:nth-child(3) {
    left: 40%;
    animation-delay: 4s;
    width: 20px;
    height: 20px;
}

.bolha:nth-child(4) {
    left: 60%;
    animation-delay: 1s;
    width: 45px;
    height: 45px;
}

.bolha:nth-child(5) {
    left: 75%;
    animation-delay: 3s;
    width: 35px;
    height: 35px;
}

.bolha:nth-child(6) {
    left: 90%;
    animation-delay: 5s;
    width: 25px;
    height: 25px;
}

@keyframes subir {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0.6;
    }

    100% {
        transform: translateY(-110vh) scale(1.2);
        opacity: 0;
    }
}

.peixe {
    position: absolute;
    top: 10%;
    left: -200px;
    font-size: 60px;
    animation: nadar 12s linear infinite;
    z-index: -2;
    transform: translateY(-50%);
}

.peixe1 {
    position: absolute;
    top: 45%;
    left: -200px;
    font-size: 60px;
    animation: nadar 15s linear infinite;
    z-index: -1;
    transform: translateY(-50%);
}

.peixe2 {
    position: absolute;
    top: 65%;
    left: -200px;
    font-size: 60px;
    animation: nadar 22s linear infinite;
    z-index: -1;
    transform: translateY(-50%);
}

.peixe3 {
    position: absolute;
    top: 88%;
    left: -200px;
    font-size: 60px;
    animation: nadar 18s linear infinite;
    z-index: -1;
    transform: translateY(-50%);
}


.img-peixe {
    height: auto;
    width: 8vw;
}

@keyframes nadar {
    0% {
        left: -200px;
    }
    100% {
        left: 110vw;    
    }

}



@keyframes subir2 {
    0% {
      transform: translateY(0) scale(1);
      opacity: 0;
    }
  
    100% {
      transform: translateY(-110vh) scale(1.2);
      opacity: 0.6;
    }
  }
  
  .agua-viva {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: subir2 15s linear infinite;
    z-index: -2;
    left: 900px;
  }
  
  .agua-viva2 {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: subir2 9s linear infinite;
    z-index: -2;
    left: 500px;
  }
  
  .agua-viva3 {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: subir2 18s linear infinite;
    z-index: -2;
    left: 100px;
  }
  
  .agua-viva4 {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: subir2 29s linear infinite;
    z-index: -2;
    left: 1200px;
  }
  
  .agua-viva5 {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: subir2 20s linear infinite;
    z-index: -2;
    left: 1700px;
  }
  
  
  
  .img-aguaviva {
    height: auto;
    width: 8vw;
  }
  
  .img-aguaviva2 {
    height: auto;
    width: 8vw;
  }
  
  .img-aguaviva3 {
    height: auto;
    width: 8vw;
  }
  
  .img-aguaviva4 {
    height: auto;
    width: 8vw;
  }
  
  .img-aguaviva5 {
    height: auto;
    width: 8vw;
  }

  

