body {
  font-family: 'Inknut Antiqua';
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #1ca4ce 0%, #367e88 100%);
  height: 100vh;
}

h1 {
  font-size: clamp(1.2rem, 4vw, 3vw);
  color: white;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  margin-bottom: 0;
  margin-left: 2vw;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bolha {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  animation: subir 10s linear infinite;
}

.bolha:nth-child(2) {
  left: 25%;
  animation-delay: 2s;
  width: 50px;
  height: 50px;
}

.bolha:nth-child(3) {
  left: 40%;
  animation-delay: 4s;
  width: 20px;
  height: 20px;
}

.bolha:nth-child(4) {
  left: 60%;
  animation-delay: 1s;
  width: 45px;
  height: 45px;
}

.bolha:nth-child(5) {
  left: 75%;
  animation-delay: 3s;
  width: 35px;
  height: 35px;
}

.bolha:nth-child(6) {
  left: 90%;
  animation-delay: 5s;
  width: 25px;
  height: 25px;
}

@keyframes subir {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.6;
  }

  100% {
    transform: translateY(-110vh) scale(1.2);
    opacity: 0;
  }
}

.peixe {
  position: absolute;
  top: 10%;
  left: -200px;
  font-size: 60px;
  animation: nadar 12s linear infinite;
  z-index: -2;
  transform: translateY(-50%);
}

.peixe1 {
  position: absolute;
  top: 45%;
  left: -200px;
  font-size: 60px;
  animation: nadar 15s linear infinite;
  z-index: -1;
  transform: translateY(-50%);
}

.peixe2 {
  position: absolute;
  top: 65%;
  left: -200px;
  font-size: 60px;
  animation: nadar 22s linear infinite;
  z-index: -1;
  transform: translateY(-50%);
}

.peixe3 {
  position: absolute;
  top: 88%;
  left: -200px;
  font-size: 60px;
  animation: nadar 18s linear infinite;
  z-index: -1;
  transform: translateY(-50%);
}

.img-peixe {
  height: auto;
  width: clamp(40px, 8vw, 100px);
}

@keyframes nadar {
  0% {
    left: -200px;
  }

  100% {
    left: 110vw;
  }
}

@keyframes subir2 {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }

  100% {
    transform: translateY(-110vh) scale(1.2);
    opacity: 0.6;
  }
}

.agua-viva {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: subir2 15s linear infinite;
  z-index: -2;
  left: 60vw;
}

.agua-viva2 {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: subir2 9s linear infinite;
  z-index: -2;
  left: 33vw;
}

.agua-viva3 {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: subir2 18s linear infinite;
  z-index: -2;
  left: 7vw;
}

.agua-viva4 {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: subir2 29s linear infinite;
  z-index: -2;
  left: 80vw;
}

.agua-viva5 {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: subir2 20s linear infinite;
  z-index: -2;
  left: 90vw;
}

.img-aguaviva,
.img-aguaviva2,
.img-aguaviva3,
.img-aguaviva4,
.img-aguaviva5 {
  height: auto;
  width: clamp(40px, 8vw, 100px);
  cursor: pointer;
}

.alga img,
.alga1 img,
.alga2 img,
.alga3 img {
  margin-top: 55vh;
  opacity: 0.4;
  height: clamp(60px, 20vh, 200px);
}

.alga img {
  transition: transform 2s ease;
}

.alga img:hover {
  transform: scale(1.2);
}

.flexivel {
  display: flex;
  margin-top: 15vh;
  flex-wrap: wrap;
}

/* Tablets (max-width: 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: clamp(1rem, 5vw, 2rem);
    text-align: center;
    margin-left: 0;
  }

  .bolha:nth-child(4),
  .bolha:nth-child(5),
  .bolha:nth-child(6) {
    display: none;
  }

  .peixe2,
  .peixe3 {
    display: none;
  }

  .agua-viva4,
  .agua-viva5 {
    display: none;
  }

  .img-peixe {
    width: clamp(30px, 12vw, 80px);
  }

  .img-aguaviva,
  .img-aguaviva2,
  .img-aguaviva3,
  .img-aguaviva4,
  .img-aguaviva5 {
    width: clamp(30px, 12vw, 80px);
  }
}

/* Celulares (max-width: 480px) */
@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }

  .peixe1 {
    display: none;
  }

  .agua-viva3 {
    display: none;
  }

  .alga img,
  .alga1 img,
  .alga2 img,
  .alga3 img {
    height: clamp(40px, 14vh, 100px);
  }
}